
    <title>MavackArt - Carrito</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="CSS/carrito.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-x3HJGl8i+ndkNy5tEXkkAaZZlQfneSJ7++fr4aCU3SKe7JTxkVQEcVV5z9NWwaU6cfQyTX5YYlT9kC83e3RAcQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
<body>
    <!--nav-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <img src="IMG/Logo (2).png" height="100px" class="logo">
        <img src="IMG/casa.png" alt="" srcset="" class="casita" onclick="window.location.href='Index.html'">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
        </div>
      </div>
    </nav>

    <section class="Exhibicion">
      <div class="TituloExpo">
        <div class="titulo-container">
            <h2>Pinturas con stock</h2>
        </div>
    </div>
    

    <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                  <img src="IMG/pintura1.jpg" class="card-img-top" alt="David" height="350">
                  <div class="card-body">
                      <h5 class="card-title">Terraza de cafe por la noche</h5>
                      <p class="card-text">se cree que Van Gogh la creó para representar la vida nocturna y la animación de los lugares públicos también se cree que buscaba representar la belleza sencilla en la vida diaria y las escenas comunes que pasan desapercibidas.</p>

                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                  <img src="IMG/pintura2.jpg" class="card-img-top" alt="Brazalete de plata con incrustaciones de turquesa" height="350">
                  <div class="card-body">
                      <h5 class="card-title">La Grenouillere</h5>
                      <p class="card-text">La Grenouillère era un restaurante sobre el río Sena, frecuentado por la pequeña burguesía parisina. La pintura representa el «Camembert», una pequeña isla con un único árbol, que estaba conectada al pontón de la isla a través de tablas estrechas y resbaladizas.</p>

                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                  <img src="IMG/pintura3.jpg" class="card-img-top" alt="El tapiz de Bayeux" height="350">
                  <div class="card-body">
                      <h5 class="card-title">Reunion de famille</h5>
                      <p class="card-text">La pintura es una forma artística de pintar sobre una superficie mediante la aplicación estética de fluidos de colores. Los pintores representan una expresión muy personal en soportes como papel, roca, lienzo, madera, corteza, vidrio y hormigón.</p>

                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                  <img src="IMG/pintura4.jpg" class="card-img-top" alt="Niña con globo rojo" height="350">
                  <div class="card-body">
                      <h5 class="card-title">Paseo en Giverny</h5>
                      <p class="card-text">Los lirios cubren la mitad del lienzo que pintó años después, en la primavera del año 1900. Las flores se desbordan sobre los senderos que llevan a la fachada. Tonos verdosos, rosáceos, anaranjados se diluyen bajo la sombra de los árboles.</p>

                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                  <img src="IMG/pintura5.jpg" class="card-img-top" alt="Jarrón de cerámica Ming" height="350">
                  <div class="card-body">
                      <h5 class="card-title">Retrato de Pablo Picasso</h5>
                      <p class="card-text">Gris comienza dando a Picasso el tratamiento de retrato definitivo. Es como si capturara la esencia de Picasso en una cápsula del tiempo cubista, angular y totalmente desconcertante</p>

                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                  <img src="IMG/pintura6.jpg" class="card-img-top" alt="Guernica" height="350">
                  <div class="card-body">
                      <h5 class="card-title">Naturaleza muerta con una guitarra</h5>
                      <p class="card-text">Gris toca su guitarra artística en esta obra, convirtiendo un instrumento musical en un riff visual. Es como si Picasso se encontrara con Santana en el mundo del rock ‘n’ roll cubista. La guitarra no es solo un objeto; es una melodía congelada en el tiempo.</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="IMG/pintura7.jpg" class="card-img-top" alt="Guernica" height="350">
                <div class="card-body">
                    <h5 class="card-title">Las meninas</h5>
                    <p class="card-text">El cuadro Las meninas representa el ambiente familiar, hogareño e íntimo de la realeza, cuyo centro es el retrato de la Infanta Margarita rodeada de su pequeña corte.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
              <img src="IMG/pintura8.jpg" class="card-img-top" alt="Guernica" height="350">
              <div class="card-body">
                  <h5 class="card-title">La persistencia de la memoria</h5>
                  <p class="card-text"> Dalí quiere mostrarnos el paso inevitable del tiempo, pero no de un tiempo como componente independiente de la realidad, sino de uno que forma parte y depende del espacio.</p>
              </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
            <img src="IMG/pintura9.jpg" class="card-img-top" alt="Guernica" height="350">
            <div class="card-body">
                <h5 class="card-title">La joven de la perla</h5>
                <p class="card-text">Se trata de un tronie, un género pictórico típico de la holanda del siglo XVII que significa “rostro” o “expresión”, y que consiste en la simple representación de la cara de un personaje. </p>
            </div>
        </div>
    </div>
      </div>
  </div>
    


      <!--Footer-->
      <footer>
        <div class="listas">
          <div class="listas_de_Ayuda">
            <h4>Ayuda</h4>
            <ul>
              <li><a href="" class="footerA">Centro de ayuda</a></li>
              <li><a href="" class="footerA">Seguimiento de mi compra</a></li>
              <li><a href="" class="footerA">Formulario de contacto</a></li>
            </ul>
          </div>
      
          <div class="Listas_de_nosotros">
            <h4>Nosotros</h4>
            <ul class="footerUL ">
              <li><a href="" class="footerA">Quienes Somos</a></li>
              <li><a href="" class="footerA">Politicas de privacidad</a></li>
              <li><a href="" class="footerA">Terminas y condiciones</a></li>
            </ul>
          </div>
      
          <div class="listas_de_redes">
            <h4>Redes Sociales</h4>
            <ul class="footerUL">
              <li><a href="" class="footerA">Instagram</a><img src="IMG/instagram.png" width="22px" height="22px"></li>
              <li><a href="" class="footerA">Facebook</a><img src="IMG/facebook.png" width="18px" height="18px"></li>
              <li><a href="" class="footerA">Youtube</a><img src="IMG/youtube.png" width="18px" height="18px"></li>
              <li><a href="" class="footerA">Twitter</a><img src="IMG/logotipos.png" width="18px" height="18px"></li>
            </ul>
          </div>
        </div>
        
        

    
        <div class="copyright">
          <p>&copy; 2024 MavackArt. Todos los derechos reservados.</p>
        </div>
        
      </footer>

</body>
</html>
