{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago con PayPal</title>
    <script src="https://www.paypal.com/sdk/js?client-id=AVdPte7Q9mnKBxXgNuHlC8GQQ6xF9lNmnkCJLxjBjT5VyPPdl9Iq9cQiBUppSNySFxiOFAqo8vzUNzRB"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'core/CSS/Index.css' %}">
</head>
<body>
    {% block content %}
        <h1>Realizar un Pago</h1>
        <div id="paypal-button-container"></div>

        <script>
            paypal.Buttons({
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '10.00' // El precio del producto
                            }
                        }]
                    });
                },
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(details) {
                        alert('Transacción completada por ' + details.payer.name.given_name);
                        
                        // Registra la compra a través de un endpoint en Django
                        fetch("{% url 'registrar_compra' %}", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}' // Incluye el CSRF token
                            },
                            body: JSON.stringify({
                                paypal_order_id: data.orderID,
                                paypal_payer_id: data.payerID
                            })
                        }).then(response => {
                            if (response.ok) {
                                // Redirigir al usuario después de la transacción exitosa
                                window.location.href = "{% url 'voucher' %}";
                            } else {
                                alert('Hubo un problema registrando la compra.');
                            }
                        }).catch(error => {
                            console.error('Error registrando la compra:', error);
                            alert('Hubo un problema registrando la compra.');
                        });
                    });
                },
                onCancel: function (data) {
                    window.location.href="/index/";
                },
                onError: function (err) {
                    console.error('Error durante la transacción:', err);
                    alert('Hubo un problema con su transacción. Intente nuevamente.');
                }
            }).render('#paypal-button-container');
        </script>
    {% endblock %}
</body>
</html>
